---
id: 4415873897499
title: "Understanding toll-free number verification"
source_url: "https://klaviyo.zendesk.com/hc/en-us/articles/4415873897499-Understanding-toll-free-number-verification"
section: "About sending numbers"
category: "SMS"
category_slug: "sms-whatsapp"
klaviyo_updated: "2026-04-21T13:55:00Z"
language: en
---

## You will learn

Learn about toll-free number verification, including what it means to be verified and how this works in Klaviyo.

## Verified vs. unverified

### Verified

A business can have 1 verified toll-free number associated with their brand.

To be verified, a toll-free number must undergo an application process to be approved by wireless carriers. If approved:

- The number will associate to that specific brand or business
- An “Active” tag will add to the number

We don't recommend sending if your number hasn't been verified. You can set up your flows and forms, but do not turn them live until your number is verified.

We recommend sending within a month of your toll-free number being verified.

****Is verification the same as allowlisting?****

Verification is not allowlisting. For email, allowlisting means that any messages from an approved sender will never be sent to spam. However, there’s no allowlisting for SMS.

Even if a toll-free number is verified, messages from this number may still be blocked by individual carriers. However, as long as your Klaviyo account information is up to date and accurate and you are following best practices, we can work with carriers to unblock your messages.

****What are the benefits of verification?****

- Fewer false-positive blocks (i.e., messages will be filtered less)
- Higher visibility to wireless carriers
- Faster resolution for issues with the number’s deliverability
- Better protection for your brand

****Why do I need to start sending soon after verification?****

Carriers expect SMS programs to be active and consistently messaging subscribers once their toll-free number is verified. If there's a long pause (multiple weeks) between when a number is verified and you first send a message, carriers may change the status back to unverified, not inform Klaviyo, and then heavily filter your message.

### Unverified

Unverified numbers are any number that is:

- Verifying, meaning it is currently going through the verification process
- Not verified, meaning it was rejected for verification

Not all organizations qualify for toll-free verification, or can send with Klaviyo. For instance, if your business model falls under any of the [prohibited content](https://help.klaviyo.com/hc/en-us/articles/4401822831771) categories, you will not be able to send using Klaviyo.

Your website must be live in order for your toll-free number to be verified.

****Can I send with a verifying or not verified toll-free number?****

It's not recommended. Wireless carriers heavily filter messages coming from unverified numbers on their networks. We recommend avoid sending until your number has been verified.

If a number has been [rejected for verification](https://help.klaviyo.com/hc/en-us/articles/6196800762779-), carriers will heavily filter messages from this number.

## Verification with Klaviyo

As soon as you turn on SMS (and if you plan to send to the US or Canada), you will be asked for information so that Klaviyo can submit your number for verification.

This information is required, and you will not receive a toll-free number if you do not provide it:

****Company contact:****

This contact will receive all registration updates and alerts.

- First and last name
- Email
- Phone number

  ****Business registration information:****
- Company's legal name
- Company website URL
- Company address (important: must match the address where your business is registered)
- Business type
- Business registration type (important: must be from the country listed in your company address)
- Business registration number

After filling out this information, click ****Next**** to submit your number for verification.

Verification takes around 2–5 business days to complete.

Please note that your website must be live in order to be approved for verification. A key part of verification is checking that the business is active and not a scam. If you haven't already, make sure to set your website live.

## What to do when your number awaits verification

While your number awaits verification, do not send from the unverified number. Instead, we recommend getting your account ready so that you can hit the ground running:

- [Design your SMS forms](https://help.klaviyo.com/hc/en-us/articles/9351341171995)
- [Create an SMS welcome series](https://help.klaviyo.com/hc/en-us/articles/360036122291)
- [Add SMS to your abandoned cart flow](https://help.klaviyo.com/hc/en-us/articles/115002779411)

Note that you should get your account ready for SMS, you should not turn your forms or flows live until your number is verified.

## What to do if your number is rejected

Your number can be rejected for a number of reasons, most are easily fixable. More information:

- [Understanding toll-free number rejection](https://help.klaviyo.com/hc/en-us/articles/6196800762779)